$sitefont: 'Arial', sans-serif;

$greycol: #80878D;
$purplecol: #7A3053;
$whitecol: #E1E9ED;
$greencol: #369B79;
$blackcol: #112433;
$redcol: #CD1719;
$confirmbtn: #517A38;
$confirmbtn_inactive: #B9C9B0;
$confirmbtn_hover: #3D692A;